*{
    padding: 0;
    margin: 0;
    font-family: "Akaya Telivigala", monospace, sans-serif;
    font-size: 22px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    text-align: center;
    background-color: #e3e3e3;
    padding: 10px 0;
}
h1{
    color: #262834;
    font-size: 28px;
    padding: 8px;
}
.container{
    width: 96%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #080808;
    padding: 10px 5px 5px 5px;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.container p{
    color: #e3e3e3;
    padding: 5px;
    text-align: left;
}
.container span{
    color: #e3e3e399;
    font-size: 16px;
    text-align: right;
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Dancing Script", "Akaya Telivigala", monospace, sans-serif;
}
.btns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(60px, auto);
}
.btns button{
    padding: 8px;
    margin: 5px;
    background-color: #262834;
    color: #e3e3e3;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: 500;
}
.btns button.btn{
    background-color: #56cbdb;
    color: #262834;
    font-weight: bold;
}
.btns button:first-of-type{
    grid-column: 1/1;
    grid-row: 1;
}
.btns button:last-of-type{
    grid-column: 2/4;
    grid-row: 1;
}
    .main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      margin: 5px;
      border-radius: 4px;
      background-color: #56cbdb;
      color: #262834;
      font-weight: bold;
  
  li {
    cursor: pointer;
    list-style-type: none;
    width: 40px;
    height: 40px;
    color: #D0D8DB;
    border-radius: 50%;
    background: #D0D8DB;
    box-shadow: 2px 2px 6px rgba(#D0D8DB, .5);

  }
      }

    .linkedin-icon {
        fill:  #0078D4;
        width: 30px;
        height: 30px;
        padding-top: 5px;
    }
    .gmail-icon {
        width: 30px;
        height: 30px;
        padding-top: 5px;
      }
      .whatsapp-icon {
          fill: #31B34A;
        width: 30px;
        height: 30px;
        padding-top: 5px;
      }
      .github-icon {
          fill: #000;
        width: 30px;
        height: 30px;
        padding-top: 5px;
      }
      .instagram-icon {
          fill: #cc39a4;
        width: 30px;
        height: 30px;
        padding-top: 5px;
      }

.icon {
  user-select: none;
  position: absolute;
  color: #D0D8DB;
  left: 15px;
  top: 6px;
  h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .9em;
    color: #2A4870;
  }
  .btn {
    position: absolute;
    right: -27px;
    background: rgba(#D0D8DB, .9);
    color: #2A4870;
    top: 7px;
    padding: 3px 7px;
    border-radius: 50%;
  }
}

.one {
  left: 0;
}

.two {
  left: 50px;
}

.three {
  left: 100px;
}

.four {
  left: 150px;
}

.five {
  left: 200px;
}